.title{
    position:relative;
    text-align:center;
    color: #28A745;
    font : 250% impact, futura, sans-serif;
    text-transform : uppercase;
    letter-spacing : 0.2em;
}
.title::before{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    background:#28A745;
    height:4px;;
    z-index:-1;
}
.title span{
    background:white;
    padding:4px 8px;
    border-style:solid;
    border-radius: 10px;
    border-width: 4px;
    padding-left: 16px;
    padding-right: 10px;
}

.export{
    text-align: right;
    padding-right: 8px;
}
