.expression
{
  color: blue;
}

.hidden {
   position: absolute;
   left: -10000em;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
}

.tooltip-inner {
  max-width: 1800px;
  font-size: 18px;
  padding:.25rem .5rem;
  color:#fff;
  text-align:center;
  background-color:#000;
  overflow:auto;
  display: block;
}
