.expression
{
  color: blue;
}

.hidden {
   position: absolute;
   left: -10000em;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
}

.tooltip-inner {
  width: 80%;
  height: 40%;
  font-size: 18px;
  padding:.25rem .5rem;
  text-align:center;
  background-color:#B8B8B8;
  overflow:auto;
  color: black;
}

.imageInfoBulle {
  max-width: 100%;
  height: auto;
}
